@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>postMessage</title>

    <button onclick="dowork()">Test</button>

</head>

<body>
    <script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.6.0.js"></script>
    <script type="text/javascript">
        function dowork(){
            console.log("entered")
            //wx.miniProgram.navigateBack({ delta: 1 })
            wx.miniProgram.navigateTo({url: '/first/first'})
            wx.miniProgram.postMessage({ data: '获取成功' })
        }
    </script>
</body>

</html>